/*selector de etiqueta*/
header {
	color: white;
	background-color: #e95644;
	border-color: white;
	border-bottom-style: solid;
	padding: 2em;
	/*opacity: 0.3;*/
	/*background-color: orange;*/
	/*background-color: rgb(34,154,45);*/
	/*background-color: rgba(34,154,45,0.3);*/
}
footer {
	color: white;
	background-color: rgb(52, 52, 52);
}
/*selector de id*/
#bienvenida {
	color: white;
	text-align: center;
	/*font-size: 20px;*/

}
/*selector de clase*/
.frase {

	text-align: center;
	font-size: 2em;
}
/*selector de descendientes*/
.frase img, #testimonio-gato img, #testimonio-video video {
	max-width: 100%;
}

#testimonio-gato {

	text-align: center;
	font-size: 1.5em;
}
#testimonio-video {

	text-align: center;
}

nav ul li {

	text-align: center;
}
/*Estilos de tarea*/
#titulo h1, nav ul {
	margin-top: 0pX;
	margin-bottom: 0px;
}

nav ul li {
	font-size: 1.5em;
	line-height: 4em;
}
#titulo h1 {
	line-height: 3em;
}
#titulo {
	margin-right: 3em;
}

#frases {
	text-align: center;
}

.frase {
	padding: 3%;
}

#testimonios {
	padding: 1.5em;
}

#testimonio-gato, #testimonio-video {
	text-align: center;
	padding: 0.5em;
}

footer {
	padding: 2em;
	font-size: 1.5em;
}

/*ESTILOS DE LA GALERÍA*/

#principal, #preview {
	display: inline-block;
	text-align: center;
}
#principal {
	width: 63%;
	vertical-align: top;
	margin-right: 8%;
}
#preview {
	width: 20%;
}
#preview img, #principal img {
	border: solid 4px #E95644;
	padding: 1em;
	max-width: 100%;
	border-radius: 15px;
}
#galeria {
	padding: 2em;
}
nav ul li a {
	color: white;
	text-decoration: none;
}
